<%= form_with model: @rental do |f| %>
  <% if @rental.errors.any? %>
    <div style="color: red;">
      <h3><%= @rental.errors.count %> ошибок:</h3>
      <ul>
        <% @rental.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :client_id, "Клиент" %><br>
    <%= f.collection_select :client_id, Client.all, :id, :last_name %>
  </div>

  <div>
    <%= f.label :scooter_id, "Самокат" %><br>
    <%= f.collection_select :scooter_id, Scooter.all, :id, :model %>
  </div>

  <div>
    <%= f.label :start_time, "Начало аренды" %><br>
    <%= f.datetime_local_field :start_time %>
  </div>

  <div>
    <%= f.label :end_time, "Конец аренды" %><br>
    <%= f.datetime_local_field :end_time %>
  </div>

  <div>
    <%= f.label :status %><br>
    <%= f.select :status, %w[active finished canceled] %>
  </div>

  <br>
  <%= f.submit %>
<% end %>
