<h1>Аренда #<%= @rental.id %></h1>

<p>
  <strong>Клиент:</strong>
  <%= link_to "#{@rental.client.last_name} #{@rental.client.first_name}", @rental.client %>
</p>

<p>
  <strong>Самокат:</strong>
  <%= link_to @rental.scooter.model, @rental.scooter %>
</p>

<p><strong>Статус:</strong> <%= @rental.status %></p>
<p><strong>Начало:</strong> <%= l @rental.start_time %></p>

<% if @rental.end_time %>
  <p><strong>Конец:</strong> <%= l @rental.end_time %></p>
  <p><strong>Стоимость:</strong> <%= number_to_currency(@rental.total_cost) %> руб</p>
<% end %>

<br>

<%= link_to "Назад к списку", rentals_path %>
