<h1>Все самокаты</h1>

<%= link_to "Добавить новый самокат", new_scooter_path, class: "new-button" %>

<div style="margin-bottom: 20px; display: flex; gap: 10px;">
  <%= button_to "<--", undo_scooters_path, 
      method: :post,
      class: "undo-button",
      form: { 
        style: "display: inline;",
        onsubmit: "this.querySelector('button').disabled = true; this.querySelector('button').innerHTML = 'Отменяем...';"
      } %>
      
  <%= button_to "-->", redo_scooters_path, 
      method: :post,
      class: "redo-button",
      form: { 
        style: "display: inline;",
        onsubmit: "this.querySelector('button').disabled = true; this.querySelector('button').innerHTML = 'Повторяем...';"
      } %>
</div>

<% if @scooters.any? %>
  <ul class="scooter-list">
    <% @scooters.each do |scooter| %>
      <li class="scooter-item">
        <strong><%= link_to scooter.model, scooter %></strong> 
        (№ <%= scooter.serial_number %>)<br>
        Цена: <%= number_to_currency(scooter.minute_rate) %> руб/мин<br>
        Статус: <%= scooter.status %><br>

        <%= link_to "Редактировать", edit_scooter_path(scooter) %>
        <%= link_to "Удалить", scooter, data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Нет самокатов</p>
<% end %>

<%= link_to "Клиенты", clients_path, class: "new-button" %>
<%= link_to "Аренды", rentals_path, class: "new-button" %>

<nav>
  <%= link_to "Активные аренды", reports_active_rentals_path, class: "tab-link" %>
  <%= link_to "Доход по дням", reports_revenue_path, class: "tab-link" %>
  <%= link_to "Топ клиентов", reports_top_clients_path, class: "tab-link" %>
</nav>

<style>
  .new-button { display: inline-block; padding: 10px; background: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-bottom: 20px; }
  .tab-link {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  transition: all 0.2s;
  font-weight: 500;
}
</style>