<h1>Все самокаты</h1>

<%= link_to "Добавить новый самокат", new_scooter_path, class: "new-button" %>

<% if @scooters.any? %>
  <ul class="scooter-list">
    <% @scooters.each do |scooter| %>
      <li class="scooter-item">
        <strong><%= link_to scooter.model, scooter %></strong> 
        (№ <%= scooter.serial_number %>)<br>
        Цена: <%= number_to_currency(scooter.minute_rate) %> руб/мин<br>
        Статус: <%= scooter.status %><br>

        <%= link_to "Подробнее", scooter_path(scooter) %>
        <%= link_to "Редактировать", edit_scooter_path(scooter) %>
        <%= link_to "Удалить", scooter, data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Нет самокатов</p>
<% end %>

<%= link_to "Клиенты", clients_path, class: "new-button" %>

<style>
  .new-button { display: inline-block; padding: 10px; background: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-bottom: 20px; }
</style>